body {
	height: 2000px;
}

.avatar {
	z-index: 1;
	left: 50%;
	margin-left: -500px;
	height: 220px;
	position: absolute;
	border-radius: 50%;
	border-style: solid;
	border-color: #14b1df;
	display: inline-block;
}

.twitter, .vkontakte, .pinterest, .facebook {
	z-index: 2;
	left: 50%;
	position: absolute;
	display: inline-block;
	height: 35px;
}
.twitter {
	margin-left: -470px;
}
.vkontakte {
	margin-left: -315px;
	margin-top: 155px;
}
.facebook {
	margin-left: -348px;
	margin-top: 190px;
}
.pinterest {
	margin-left: -395px;
	margin-top: 200px;
}

.central {
	/*z-index: 1;*/
	position: absolute;
	background-color: #e4dea4;
	height: 600px;
	width: 460px;
	left: 50%;
	margin-left: -230px;
	/*margin: auto;*/
	margin-top: 170px;
}

.first {
	position: absolute;
	z-index: 1;
	background-color: #14b1df;
	height: 100%;
	width: 100%;
	margin-left: 10px;
	margin-top: 10px;
}

.second {
	position: absolute;
	z-index: 2;
	background-color: #1e64a5;
	height: 100%;
	width: 100%;
	margin-left: 5px;
	margin-top: 5px;
}

.third {
	position: absolute;
	z-index: 3;
	background-color: #ee3737;
	height: 100%;
	width: 100%;
}

.bottom {
	background-color: rgba(0,0,0,0.7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#B3000000,endColorstr=#B3000000); 
    zoom: 1;
	position: fixed;
	z-index: 4;
	height: 130px;
	width: 330px;
	left: 50%;
	margin-left: 170px;
	top: 70%;
}
.yellow_square {
	position: relative;
	height: 90px;
	width: 90px;
	margin-top: 20px;
	margin-left: 20px;
	background-color: #ffff4d;
	opacity: 1;
	display: inline-block;
	float: left;
}

p {
	font-size: 0.8em;
	font-family: arial;
	color: white;
}

.bottom_text {
	display: inline-block;
	margin-top: 10px;
	margin-left: 15px;
}
span {
	font-weight: bold;
}